* {
  /* margin: 0; */
  /* padding: 0; */
  /* box-sizing: border-box; */
  font-family: sans-serif;
}

header {
  padding: 20px;
}

main {
  height: 40%;
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: aliceblue;
  margin: auto;
  width: 80%;
  height: 20vh;
}

body {
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer {
  /* padding-left: 20px; */
  position: fixed;
  bottom: 0;
}

#bookmarks {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

#bookmarks div p {
  margin-right: 10px;
}

#bookmarks div button {
  height: 80%;
  margin: auto 0;
}

#bookmarks div {
  display: flex;
  justify-content: start;
  background-color: aliceblue;
  margin-top: 10px;
  width: 80%;
}
